body {

    padding: 0;
    margin: 0;
    padding: 0;
    position: static;

    background-size: cover;
    font-family: 'Pattaya',
        sans-serif;
    font-family: 'Noto Sans JP',
        sans-serif;
}

.wrapper {

    height: 100%;
    position: absolute;
    padding: 0;
    margin: 0 auto;
    padding: 0;
    width: 100%;
    background-color: cornsilk;
    color: black;
    min-height: 640px;
}


#Crear-Cuenta {
    position: initial;
    left: 7%;
}


.tabla {
    position: initial;
    bottom: 24%;
    left: 7%;

}

#maker {
    position: absolute;
    bottom: 205px;
    left: 53%;
    padding: 5px;
    border: 2px solid #ccc;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    display: none;
    height: 60px;
}

#crear {
    position: absolute;
    bottom: 196px;
    left: 15%;
    padding: 5px;
    border: 2px solid #ccc;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    display: block;
    height: 60px;
}

#flecha2 {

    position: absolute;
    bottom: 74px;
    left: 0;
    font-size: 50px;
    color: black;
}


.dato {
    padding: 5px 15px;
    background: white;
    border: 0 none;
    cursor: pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

#verrr {

    position: absolute;
    bottom: 20%;
    left: 10%;

}
